#createButton {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  /*padding: 3px 0px 3px 3px;*/
  /*margin: 5px 1px 3px 0px;*/
  border: 2px solid #DDDDDD;
}
 
#createButton {
  box-shadow: 0 0 10px rgba(255, 255, 0, 1);
  /*padding: 3px 0px 3px 3px;*/
  /*margin: 5px 1px 3px 0px;*/
  border: 3px solid rgba(255, 255, 0, 1);
}